<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>메인페이지</title>
  </head>
  <body>
    <%- contentFor('body') %>
    <section class="index_section">

      <div class="main_page">
        <div class="row_first">
          <div class="recent_div">최신순 음악</div>
          <div class="recent_btn"><a href="/sort?sort=date">더보기</a></div>
          <div class="recent_music" id="recent_music">
            <% for (let i = 0; i < data.recent.length; i++) { %>
              <div class="recent_element">
                <img src="<%= data.recent[i].cover_url %>" onclick="music('<%= data.recent[i].id %>')">
                <a class="recent_title" href="/song?id=<%= data.recent[i].id %>"><%= data.recent[i].title %></a>
                <div class="recent_artist"><%= data.recent[i].artist %></div>
              </div>
            <% } %>
          </div>
          </div>

          <!-- 2. 인기순 -->
          <div class="row_fifth">
            <div class="popular_div">인기순 음악</div>
            <div class="popular_btn"><a href="/sort?sort=like">더보기</a></div>
            <div class="popular_music">
              <% for (let i = 0; i < data.like.length; i++) { %>
                <div class="popular_element">
                  <img src="<%= data.like[i].cover_url %>" onclick="music('<%= data.like[i].id %>')">
                  <a class="popular_title" href="/song?id=<%= data.like[i].id %>"><%= data.like[i].title %></a>
                  <div class="popular_artist"><%= data.like[i].artist %></div>
                </div>
              <% } %>
            </div>
          </div>

          <!-- 3. 아티스트 톡 채널  -->
          <div class="row_second">
            <div class="talk_div">아티스트 톡 채널</div>
            <div class="talk_btn"><a href="/chat/list">더보기</a></div>
            <div class="talk_room">
              <% for (let i = 0; i < data.chatRoom.length; i++) { %>
                <div class="talk_element">
                  <img src="<%= data.chatRoom[i].cover_img %>" onclick="">
                  <a class="talk_name" href="/chat/list"><%= data.chatRoom[i].name %></a>
                  <div class="talk_tag"><%= data.chatRoom[i].tag %></div>
                </div>
              <% } %>
            </div>
          </div>


          <div class="row_third">
            <div class="genre_div">장르 음악</div>
            <div class="genre_btn">장르</div>
            <div class="genre_music"> 
                <% for (let i = 0; i < data.genre.length; i++) { %>
                  <div class="genre_element">
                    <img src="<%= data.genre[i].cover_url %>" onclick="music('<%= data.genre[i].id %>')">
                    <a class="genre_title" href="/song?id=<%= data.genre[i].id %>"><%= data.genre[i].title %></a>
                    <div class="genre_artist"><%= data.genre[i].artist %></div>
                  </div>
                <% } %>
            </div>
        </div>

       
        <div class="row_fourth">
          <div class="playlist_div">추천 플레이리스트</div>
          <div class="recommand_playlist">
            <% for (let i = 0; i < data.playlist.length; i++) { %>
              <div class="playlist_element">
                <% if (data.playlist[i].result) { %>
                  <div class="playlist_cover-1"  onclick="music('<%= data.playlist[i].id %>')">
                      <% for (let j = 0; j < data.playlist[i].cover.length; j++) { %>
                        <img src="<%= data.playlist[i].cover[j] %>">
                      <% } %>
                  </div>
                <% } else { %>
                    <div class="playlist_cover-2"  onclick="music('<%= data.playlist[i].id %>')">
                        <img src="<%= data.playlist[i].cover[0] %>">
                    </div>
                <% } %>
              <div class="playlist_name"><%= data.playlist[i].name %></div>
                
              <div class="playlist_like" id="<%= data.playlist[i].id %>" onclick="likeBtn('<%= data.playlist[i].id %>')">

                    <% if (data.playlist[i].likeResult) { %>
                      <i class="fa-solid fa-heart" style="color: #FCD06B;"></i>
                      <div class="like_cnt"><%= data.playlist[i].like %></div>
                    <% } else { %>
                      <i class="fa-regular fa-heart" style="color: #FCD06B;"></i>
                      <div class="like_cnt"><%= data.playlist[i].like %></div> 
                  <% } %>        
                       
              </div>

            </div>
            <% } %> 
          </div>
        </div>

      </div>
    </section>

    <script id="sc">

        async function likeBtn(p_id) {
          const like_element = document.getElementById(p_id);
          const id = p_id;

          try {
            const response = await axios.post('/playlist/like', {
                id: id,
            });
            
            console.log(response)
            if (response.data.liked) {
                console.log(response.data.liked)
                // 좋아요가 토글되었을 때 아이콘을 채워진 하트로 변경
                like_element.innerHTML = `
                <i class="fa-solid fa-heart" style="color: #FCD06B;"></i> 
                <div class="like_cnt">${response.data.count}</div>`;
            } else {
                console.log(response.data.liked)
              // 좋아요가 취소되었을 때 아이콘을 빈 하트로 변경
              like_element.innerHTML = `
                <i class="fa-regular fa-heart" style="color: #FCD06B;"></i> 
                <div class="like_cnt">${response.data.count}</div>`;
            }
          } catch (error) {
            console.error('좋아요 토글에 실패했습니다.', error);
          }
        }
    </script>

  </body>
</html>
