<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>메인페이지</title>
  </head>
  <body>
    <%- contentFor('body') %>
    <section class="index_section">

      <div class="main_page">
        <div class="row_first">

          <div class="recent_header">
            <div class="recent_div">최신순 음악</div>
            <div class="recent_btn"><a href="/sort?sort=date">더보기</a></div>
          </div>

          <div class="recent_music" id="recent_music">
            <% for (let i = 0; i < data.recent.length; i++) { %>
              <div class="recent_element">
                <img src="<%= data.recent[i].cover_url %>" onclick="music('<%= data.recent[i].id %>')">
                <a class="recent_title" href="/song?id=<%= data.recent[i].id %>"><%= data.recent[i].title %></a>
                <div class="recent_artist"><%= data.recent[i].artist %></div>
              </div>
            <% } %>
          </div>
          </div>

          <!-- 2. 인기순 -->
          <div class="row_fifth">
            <div class="popular_header">
              <div class="popular_div">인기순 음악</div>
              <div class="popular_btn"><a href="/sort?sort=like">더보기</a></div>
            </div>
            <div class="popular_music">
              <% for (let i = 0; i < data.like.length; i++) { %>
                <div class="popular_element">
                  <img src="<%= data.like[i].cover_url %>" onclick="music('<%= data.like[i].id %>')">
                  <a class="popular_title" href="/song?id=<%= data.like[i].id %>"><%= data.like[i].title %></a>
                  <div class="popular_artist"><%= data.like[i].artist %></div>
                </div>
              <% } %>
            </div>
          </div>

          <!-- 3. 아티스트 톡 채널  -->
          <div class="row_second">
            <div class="talk_header">
              <div class="talk_div">아티스트 톡 채널</div>
              <div class="talk_btn"><a href="/chat/list">더보기</a></div>
            </div>
            <div class="talk_room">
              <% for (let i = 0; i < data.chatRoom.length; i++) { %>
                <div class="talk_room_element">
                  <img src="<%= data.chatRoom[i].cover_img %>" onclick="">
                  <a class="talk_room_name" href="/chat/list"><%= data.chatRoom[i].name %></a>
                  <div class="talk_room_tag"><%= data.chatRoom[i].tag %></div>
                </div>
              <% } %>
            </div>
          </div>


          <div class="row_third">
            <div class="genre_header">
              <div class="genre_div">장르 음악</div>
              <div class="genre_btn" onclick="startGenreToggle()">장르</div>
            </div>


            <div id="genre_menu_btn" class="genre_menu_btn" style="display: none;" >
              <ul class="genre_menu_ul">
                <% for (let i = 0; i < data.genreMenu.length; i++) { %>
                    <li class="genre_menu_li">
                        <span class="genre_menu_a" onclick="getByMenuGenre('<%= data.genreMenu[i] %>');"><%= data.genreMenu[i] %></span>
                    </li>
                <% } %>
            </ul>
            </div>

            <div class="genre_music"> 
              <% for (let i = 0; i < data.genre.length; i++) { %>
                  <div class="genre_element">
                    <img class="genre_img" src="<%= data.genre[i].cover_url %>" onclick="music('')">
                    <a class="genre_title" href="/song?id=<%= data.genre[i].id %>"><%= data.genre[i].title %></a>
                    <div class="genre_artist"><%= data.genre[i].artist %></div>
                  </div>
              <% } %>
            </div>
        </div>

       
        <div class="row_fourth">
          <div class="playlist_header">
            <div class="playlist_div">추천 플레이리스트</div>
          </div>
          <div class="recommand_playlist">
            <% for (let i = 0; i < data.playlist.length; i++) { %>
              <div class="playlist_element">
                <% if (data.playlist[i].result) { %>
                  <div class="playlist_cover-1"  onclick="music('<%= data.playlist[i].id %>')">
                      <% for (let j = 0; j < data.playlist[i].cover.length; j++) { %>
                        <img src="<%= data.playlist[i].cover[j] %>">
                      <% } %>
                  </div>
                <% } else { %>
                    <div class="playlist_cover-2"  onclick="music('<%= data.playlist[i].id %>')">
                        <img src="<%= data.playlist[i].cover[0] %>">
                    </div>
                <% } %>
              <div class="playlist_name"><%= data.playlist[i].name %></div>
                
              <div class="playlist_like" id="<%= data.playlist[i].id %>" onclick="likeBtn('<%= data.playlist[i].id %>')">

                    <% if (data.playlist[i].likeResult) { %>
                      <i class="fa-solid fa-heart" style="color: #FCD06B;"></i>
                      <div class="like_cnt"><%= data.playlist[i].like %></div>
                    <% } else { %>
                      <i class="fa-regular fa-heart" style="color: #FCD06B;"></i>
                      <div class="like_cnt"><%= data.playlist[i].like %></div> 
                  <% } %>        
                       
              </div>

            </div>
            <% } %> 
          </div>
        </div>

      </div>
    </section>

    <script id="sc">
//       window.addEventListener("load", function() {
//     // 페이지 로드 시 "댄스" 장르를 선택하여 getByMenuGenre 함수 호출
//     getByMenuGenre("댄스");
// });
        async function likeBtn(p_id) {
          const like_element = document.getElementById(p_id);
          const id = p_id;

          try {
            const response = await axios.post('/playlist/like', {
                id: id,
            });
            
            console.log(response)
            if (response.data.liked) {
                console.log(response.data.liked)
                // 좋아요가 토글되었을 때 아이콘을 채워진 하트로 변경
                like_element.innerHTML = `
                <i class="fa-solid fa-heart" style="color: #FCD06B;"></i> 
                <div class="like_cnt">${response.data.count}</div>`;
            } else {
                console.log(response.data.liked)
              // 좋아요가 취소되었을 때 아이콘을 빈 하트로 변경
              like_element.innerHTML = `
                <i class="fa-regular fa-heart" style="color: #FCD06B;"></i> 
                <div class="like_cnt">${response.data.count}</div>`;
            }
          } catch (error) {
            console.error('좋아요 토글에 실패했습니다.', error);
          }
        }

        function startGenreToggle() {
            var genreMenu = document.getElementById("genre_menu_btn");
           
            console.log("Before toggle: " + genreMenu.style.display);
            if (genreMenu.style.display === "none" || genreMenu.style.display === "") {
                genreMenu.style.display = "block";
            } else {
                genreMenu.style.display = "none";
            }
            console.log("After toggle: " + genreMenu.style.display);        
        }

        async function getByMenuGenre(genre) {
            try {
              const encodedGenre = encodeURIComponent(genre);

              console.log("Fetching data for genre: " + encodedGenre);
              console.log(encodedGenre);
                const res = await axios({
                    method: "get",
                    url: `/byGenre?genre=${encodedGenre}`,
                });
                const genre_music = document.querySelector(".genre_music");
                genre_music.innerHTML = ''; // Clear existing content

                for (const item of res.data.genreData.genre) {
                    // Create elements for each item in the genreData.genre array
                    const genre_element = document.createElement("div");
                    genre_element.classList.add("genre_element");

                    const img = document.createElement("img");
                    img.classList.add("genre_img");
                    img.src = item.cover_url; // Set the image source
                    img.onclick = () => music(item.id); // Add click event for playing music

                    const genre_title = document.createElement("a");
                    genre_title.classList.add("genre_title");
                    genre_title.href = `/song?id=${item.id}`;
                    genre_title.textContent = item.title; // Set the title

                    const genre_artist = document.createElement("div");
                    genre_artist.classList.add("genre_artist");
                    genre_artist.textContent = item.artist; // Set the artist

                    // Append the created elements to the genre_element
                    genre_element.appendChild(img);
                    genre_element.appendChild(genre_title);
                    genre_element.appendChild(genre_artist);

                    // Append the genre_element to the genre_music
                    genre_music.appendChild(genre_element);
                }
              
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }
    </script>

  </body>
</html>
