<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>플레이리스트 목록</title>
</head>
<body>
    <%- contentFor('body') %>
    <section>
        <div id="cont-wrap">
            <div id="my_playlist">
                <div class="page_header">
                    <h3 class="title">My Palylist</h3>
                    <label for="new_playlist">새 palylist 만들기</label>
                    <input type="checkbox" id="new_playlist" hidden>
                </div>
                <ul class="my_list">

                    <% for (let i=0; i < data.myPlaylist.length; i++) { %>
                    <li onclick="playlist('<%= data.myPlaylist[i].id %>')">
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span><%= data.myPlaylist[i].name %></span>
                                </a>
                            </div>
                            <div class="playlist_like" id="<%= data.myPlaylist[i].id %>" onclick="like('<%= data.myPlaylist[i].id %>')">
                                <% if(data.myPlaylist[i].result) { %>
                                    <i class="fa-solid fa-heart" style = "color: #FCD06B";></i>
                                <% } else { %>
                                    <i class="fa-regular fa-heart" style = "color: #FCD06B";></i>
                                <% } %>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>

            <div id="like_playlist">
                <div class="page_header">
                    <h3 class="title">좋아요한 Palylist</h3>
                </div>
                <ul class="my_list">
                    <% for (let i=0; i < data.likedPlaylist.length; i++) { %>
                    <li onclick="playlist('<%= data.likedPlaylist[i].id %>')">
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span><%= data.likedPlaylist[i].name %></span>
                                </a>
                            </div>

                            <div class="playlist_like" id="<%= data.likedPlaylist[i].id %>" onclick="like('<%= data.likedPlaylist[i].id %>')">
                                <% if (data.likedPlaylist[i].result) { %>
                                    <i class="fa-solid fa-heart" style="color: #FCD06B;"></i>
                                  <% } else { %>
                                    <i class="fa-regular fa-heart" style="color: #FCD06B;"></i>
                                <% } %>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="new_pl_md">
            <div class="new_pl_close">X</div>
            <div class="new_pl_input">
                <label for="pl_name">새로운 플레이리스트 만들기</label>
                <input type="text" id="pl_name" placeholder="플레이리스트 이름">
                <input type="text" id="pl_tag" placeholder="해시태그를 더해주세요">
            </div>
            <button type="button" onclick="mn()">완성</button>
        </div>
    </section>

    <%- contentFor('player') %>

    <script id="sc">
        var new_pl = document.getElementById("new_playlist");
        var new_pl_md = document.querySelector(".new_pl_md");
        var new_pl_md_close = document.querySelector(".new_pl_close");
        var new_pl_name = document.querySelector("#pl_name");
        var new_pl_tag = document.querySelector('#pl_tag');

        new_pl.addEventListener('click', (e)=>{
            new_pl_md.style.display = "flex";
        })

        new_pl_md_close.addEventListener('click', (e)=>{
            new_pl_md.style.display = "none";
        })

        async function mn() {
            const res = await axios ({
                method: "post",
                url: "/playlist",
                data: {
                    pl_tag : new_pl_tag.value,
                    pl_name : new_pl_name.value
                }
            });
            
            if(res.data.result){
                alert("성공");
                new_pl_tag.value = "";
                new_pl_name.value = "";
            }
            else{
                alert("오류 발생");
            }
            console.log(res);
        }

        async function like(num) {
            const like_element = document.getElementById(num);
            // like_element.id = num;
            const id = num;
            const res = await axios({
                method: "post",
                url: "/playlist/like",
                data:{
                    id
                }
            });
            
            console.log("res", res)
            if(res.data.liked) {
                like_element.innerHTML = '<i class="fa-solid fa-heart" style="color: #FCD06B;" ></i>'
            } else {
                like_element.innerHTML = '<i class="fa-regular fa-heart" style="color: #FCD06B;"></i>'
            }
        }
        
    </script>
</body>
</html>