<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>곡정보</title>
</head>
<body>
    
    <%- contentFor('body') %>
    <section>
        <div class="songMain1">
            <div class="albumImg"><img class="cover" src="<%= data.cover_url %>"></div>
            <div class="albumInfor">
                <div class="title">[EP] <%= data.title %></div>
                <div class="artist"><%= data.artist %></div>
                <div class="album"><%= data.album %></div>
                <div class="writer">작사 <%= data.writer %></div>
                <div class="composer">작곡 <%= data.composer %></div>
                <div class="genre">장르 <%= data.genre %></div>
                <div class="playtime"><%= data.playtime %></div>
                <div class="release_date">발매일 <%= data.release_date %></div>
                <div class="like" onclick="likeBtn()">
                    <% if (likeResult) { %>
                        <i class="fa-solid fa-heart" style="color: #ff6666;"></i> <%= data.like %>
                    <% } else { %>
                        <i class="fa-regular fa-heart" style="color: #ff6666;"></i> <%= data.like %>
                    <% } %>
              
                </div>
            </div>
            <div class="talk"></div>
        </div><br>
        <div class="songMain2">
            <div class="lyrics"><%= data.lyrics %></div>
            <div class="anotherSong"></div>
            <div class="songComment">
                <form name="commentCreate">
                    <label>댓글 </label>
                    <br>

                    <% if (user && user.userid) { %>
                     
                        <img class="comment_profile" src="<%= user.profile_img %>" alt="User Profile Img">
                        <div class="comment_user"><%= user.nickname %>(<%= user.userid %>)</div>
                        <input type="text" name="commentText" id="commentText" value="">
                        <button type="button" id="submitBtn">등록</button>
                    </form>
                    <% } else { %>
                        <img src="https://kdt-wonno2.s3.ap-northeast-2.amazonaws.com/img/n_img.png" alt="User Profile Img">
                        <div class="comment_user"></div>
                        <input type="text" name="commentText" id="commentText" value="로그인 후 이용해주세요" disabled>
                        <button type="button" id="submitBtn" disabled>등록</button>
                    <% } %>

                </form>
            </div>
            <div class="songCommentList" id="commentList">
                <% for (let i = 0; i < comments.length; i++) { %>
                    <div class="commentItem">
                        <div class="commentListImg"><img src="<%= comments[i].profile_img %>"></div>
                        <div class="comment_user"><%= comments[i].nickname %>(<%= comments[i].userid %>)</div>
                        <div class="commentList_date"><%= comments[i].create_date %></div>
                        <input type="text" class="commentList_content" id="updateText" value="<%= comments[i].content %>" disabled>
                        <% if (user && user.userid === comments[i].userid) { %>
                            <button type="button" class="updateBtn">수정</button>
                            <button type="button" class="deleteBtn">삭제</button>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <%- contentFor('player') %>

    <script id="sc">
        async function likeBtn() {
            const pushLike = document.querySelector(".like");
            const id = new URLSearchParams(window.location.search).get('id');
          try {
            const response = await axios.post('/song/like', {
                id: id,
            });
            
            console.log(response)
            if (response.data.liked) {
                console.log(response.data.liked)
                // 좋아요가 토글되었을 때 아이콘을 채워진 하트로 변경
                pushLike.innerHTML = '<i class="fa-solid fa-heart" style="color: #ff6666;" ></i> ' + response.data.count;
            } else {
                console.log(response.data.liked)
              // 좋아요가 취소되었을 때 아이콘을 빈 하트로 변경
              pushLike.innerHTML = '<i class="fa-regular fa-heart" style="color: #ff6666;"></i> ' + response.data.count;
            }
          } catch (error) {
            console.error('좋아요 토글에 실패했습니다.', error);
          }
        }

        const submitBtn = document.getElementById("submitBtn");

        submitBtn.addEventListener("click", function () {
            createComment();
        });

        async function createComment() {
            const commentText = document.getElementById("commentText").value;

            try {
                const response = await axios.post(`/song/comment?song_id=${id}`, { content: commentText });


                if (response.status === 200) {
                    const comment = response.data.comment;

                    const commentList = document.getElementById("commentList");
                    const newCommentItem = document.createElement("div");
                    newCommentItem.classList.add("commentItem");
                    newCommentItem.innerHTML = `
                        <img src="${comment.profile_img}">
                        <div class="comment_user">${comment.nickname}(${comment.userid})</div>
                        <div class="commentList_date">${comment.create_date}</div>
                        <input type="text" class="commentList_content" value="${comment.content}" readonly>
                        <button type="button" id="updateButton">수정</button>
                        <button type="button" id="deleteButton">삭제</button>
                    `;
                    commentList.appendChild(newCommentItem);
                } else {
                    // 오류 처리
                    console.error("댓글 작성 실패");
                }
            } catch (error) {
                console.error(error);
            }
        }

      </script>
      
</body>
</html>