<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>곡정보</title>
</head>
<body>
    
    <%- contentFor('body') %>
    <section class="song_section">
        <div class="songMain1">
            <div class="albumImg">
                <div class="music_play"><i class="fa-solid fa-play" style="color: white;" onclick="music('<%= data.id %>')"></i></div>
                <img class="cover" src="<%= data.cover_url %>">
            </div>
            <div class="albumInfor">
                <div class="t_a">
                    <span>
                        <div class="title"><%= data.title %></div>
                        <div class="artist"><%= data.artist %></div>
                    </span>
                </div>
                <div class="o_i">
                    <span class="like" onclick="likeBtn()">
                        <input type="hidden" value="<%= data.id %>" id="song_id">
                        <% if (likeResult) { %>
                            <i class="fa-solid fa-heart" style="color: #ff6666;"></i><div class="like_count"><%= data.like %></div>
                        <% } else { %>
                            <i class="fa-regular fa-heart" style="color: #ff6666;"></i><div class="like_count"><%= data.like %></div>
                        <% } %>
                    </span>
                    <span class="infor">
                        <div class="album"><div class="colume_name">앨범</div><%= data.album %></div>
                        <div class="genre"><div class="colume_name">장르</div><%= data.genre %></div>
                        <div class="release_date"><div class="colume_name">발매</div><%= data.release_date %></div>
                        <div class="writer"><div class="colume_name">작사</div><%= data.writer %></div>
                        <div class="composer"><div class="colume_name">작곡</div><%= data.composer %></div>
                    </span>
                </div>
                <!-- <div class="playtime"><%= data.playtime %></div> -->
                
            </div>
            <div class="talk" onclick="talk('<%= data.artist %>')"></div>
        </div>
        <div class="songMain2">
            <input type="hidden" value="<%= data.lyrics %>" id="lyrics_value">
            <div class="lyrics">
                <div class="title">가사</div>
            </div>
            <!-- <div class="anotherSong"></div> -->
            <div class="songComment">
                <form name="commentCreate" class="commentCreate">
                    <% if (user && user.userid) { %>
                        <img class="comment_profile" src="<%= user.profile_img %>" alt="User Profile Img">
                        <div class="comment_user"><%= user.nickname %>(<%= user.userid %>)</div>
                        <textarea type="text" name="commentText" id="commentText" ></textarea>
                        <button type="button" id="submitBtn" onclick="createComments()">등록</button>
                    </form>
                    <% } else { %>
                        <img src="https://kdt-wonno2.s3.ap-northeast-2.amazonaws.com/img/n_img.png" alt="User Profile Img">
                        <div class="comment_user"></div>
                        <textarea type="text" name="commentText" id="commentText" disabled>로그인 후 이용해주세요</textarea>
                        <div>
                            <button type="button" id="submitBtn" disabled>등록</button>
                        </div>
                        
                    <% } %>
                </form>
                
            </div>
            <div class="songCommentList" id="commentList">
                <div class="title">댓글</div>
                <% for (let i = 0; i < comments.length; i++) { %>
                    <div class="commentItem">
                        <div class="commentListImg"><img src="<%= comments[i].profile_img %>"></div>
                        <div class="comment_user"><%= comments[i].nickname %>(<%= comments[i].userid %>)</div>
                        <div class="commentList_date"><%= comments[i].create_date %></div>
                        <textarea type="text" class="commentList_content" id="<%= comments[i].id %>" readonly><%= comments[i].content %></textarea>
                        <% if (user && user.userid === comments[i].userid) { %>
                            <button type="button" class="modifyBtn" onclick="updateComment('<%= comments[i].id %>')">수정</button>
                            <button type="button" class="deleteBtn" onclick="deleteComment('<%= comments[i].id %>')">삭제</button>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <script id="sc">
        
        document.querySelector(".lyrics").insertAdjacentHTML("beforeend", document.getElementById("lyrics_value").value)

        
        async function likeBtn() {
            console.log(this)
            const pushLike = document.querySelector(".like");
            const id = document.getElementById("song_id").value;
          try {
            const response = await axios.post('/song/like', {
                id: id,
            });
            
            console.log(response)
            if (response.data.liked) {
                console.log(response.data.liked)
                // 좋아요가 토글되었을 때 아이콘을 채워진 하트로 변경
                pushLike.innerHTML = '<i class="fa-solid fa-heart" style="color: #ff6666;" ></i> ' + response.data.count;
            } else {
                console.log(response.data.liked)
              // 좋아요가 취소되었을 때 아이콘을 빈 하트로 변경
              pushLike.innerHTML = '<i class="fa-regular fa-heart" style="color: #ff6666;"></i> ' + response.data.count;
            }
          } catch (error) {
            console.error('좋아요 토글에 실패했습니다.', error);
          }
        }

            

        async function createComments() {
            const id = document.getElementById("song_id").value;
            const commentText = document.getElementById("commentText").value;

            try {
                const response = await axios.post(`/song/comment?song_id=${id}`, { content: commentText });


                if (response.status === 200) {
                    const comment = response.data.comment;

                    const commentList = document.getElementById("commentList");
                    const newCommentItem = document.createElement("div");
                    newCommentItem.classList.add("commentItem");
                    newCommentItem.innerHTML = `
                            <img src="${comment.profile_img}">
                            <div class="comment_user">${comment.nickname}(${comment.userid})</div>
                            <div class="commentList_date">${comment.create_date}</div>
                            <textarea type="text" class="commentList_content" id="${comment.id}" readonly>${comment.content}</textarea>
                            <button type="button" class="modifyBtn" onclick="updateComment('${comment.id}')">수정</button>
                            <button type="button" class="deleteBtn" onclick="deleteComment('${comment.id}')">삭제</button>
                        `;
                    commentList.insertBefore(newCommentItem, commentList.firstChild);
                } else {
                    // 오류 처리
                    console.error("댓글 작성 실패");
                }
            } catch (error) {
                console.error(error);
            }
        }

        async function updateComment(num){
            // console.log(document.getElementById("9"));
            document.getElementById(num).removeAttribute("readonly")
            document.getElementById(num).nextElementSibling.textContent = "저장";
            document.getElementById(num).nextElementSibling.setAttribute('onclick', `updateCommentRelease(${num})`);

            document.getElementById(num).nextElementSibling.nextElementSibling.textContent = "취소";
            document.getElementById(num).nextElementSibling.nextElementSibling.setAttribute('onclick', `updateCancel(${num})`);
        }

        async function updateCommentRelease(num){
            console.log("실행");
            const id = Number(num);
            const song_id = document.getElementById("song_id").value;
            const content = document.getElementById(num).value;
            const res = await axios({
                method:"PATCH",
                url:"/song/comment",
                data:{
                    id, song_id, content
                }
            });

            if(res.data.result){
                alert("수정 완료!");
                window.location.reload();
            }
        }

        function updateCancel(num){
            console.log("취소실행");
            document.getElementById(num).setAttribute("readonly", true)
            document.getElementById(num).nextElementSibling.textContent = "수정";
            document.getElementById(num).nextElementSibling.setAttribute('onclick', `updateComment(${num})`);

            document.getElementById(num).nextElementSibling.nextElementSibling.textContent = "삭제";
            document.getElementById(num).nextElementSibling.nextElementSibling.setAttribute('onclick', `deleteComment(${num})`);
        }

        async function deleteComment(num){
            const id = Number(num);
            const res = await axios({
                method:"DELETE",
                url:"/song/comment",
                data:{
                    id
                }
            });

            if(res.data.result){
                alert("삭제 완료!");
                window.location.reload();
            }
        }

        var loading = false;
        var scrollHeight_original = document.documentElement.scrollHeight;
        var scroll_count = 0;
        var page = 1;

        window.addEventListener('scroll', async function() {
            if(scroll_count==0){
                scrollHeight_original = document.documentElement.scrollHeight;
                scroll_count = scroll_count + 1;
            }

            // 스크롤 이벤트 핸들러
            var scrollTop = document.documentElement.scrollTop; // 현재 스크롤 위치
            var scrollHeight = document.documentElement.scrollHeight; // 전체 문서 높이

            if(scrollHeight_original == scrollHeight){
            }
            else{
                scroll_count = 0;
                loading = false;
            }

            if (Math.ceil(scrollTop + window.innerHeight) >= scrollHeight && !loading) {
                loading = true;
                await commentLoad();                    
            }
            
        });

        async function commentLoad(){
            page++;

            const res = await axios({
                method:"GET",
                url:"/song/sort/comment",
                params:{
                    page:page,
                    song_id: document.getElementById("song_id").value,
                }
            })

            if(res.data.result){
                for(let i = 0; i<res.data.data.comments.length; i++){
                    const comment = res.data.data.comments[i];
                    const commentList = document.getElementById("commentList");
                    const html = `
                        <div class="commentItem">
                            <img src="${comment.profile_img}">
                            <div class="comment_user">${comment.nickname}(${comment.userid})</div>
                            <div class="commentList_date">${comment.create_date}</div>
                            <textarea type="text" class="commentList_content" id="${comment.id}" readonly>${comment.content}</textarea>
                            <button type="button" class="modifyBtn" onclick="updateComment('${comment.id}')">수정</button>
                            <button type="button" class="deleteBtn" onclick="deleteComment('${comment.id}')">삭제</button>
                        </div>
                        `;
                    commentList.innerHTML += html;
                }
            }
            else{
                alert("데이터를 가져오는 중 오류가 발생했습니다.")
            }
        }

      </script>

    <%- contentFor('player') %>

    
      
</body>
</html>